* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
} 

button {
    border-radius: 5px;
    border: none;
    padding: 9px 30px;
}

nav {
    font-size: 16px;
    font-weight: 500;
}

.mt-10 {
    margin-top: 100px;
}

.lh-28 {
    line-height: 28px;
}

.fs-inter {
    font-family: 'Inter', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.bg-green {
    background-color: #02897A;
}

.text-green {
    color: #02897A;
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    color: rgba(2, 137, 122, .8) !important;
}

.sign-in:hover {
    background-color: rgba(2, 137, 122, 1);
    color: white !important;
}

.sign-up {
    text-decoration: none;
}

.sign-up:hover {
    color: rgba(2, 137, 122, 1) !important;
    background-color: white;
    border: 1px solid rgba(2, 137, 122, 1) ;
}

.btn-video {
    color: #02897A;
    transition: .3s;
}

.btn-video:hover {
    color: rgba(2, 137, 122, .5);
}

.half-round-btm {
    background: linear-gradient(180deg, #EDEDED ,#fff);
    border-radius: 50% 50% 00 / 100% 100% 0 0;
    height: 7vh;
    margin-bottom: 100px;
}

.order:hover {
    font-weight: 500;
}


.bx-star {
    color: #F3CD03;
}

.checked {
    color: #F3CD03;
}

.icon {
    text-decoration: none;
    color: #02897A;
}

.icon i {
    font-size: 2.5rem;
    margin-right: 30px;
    background-color: #d7faf4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer li a {
    text-decoration: none;
    font-size: 20px;
    color: #22343D;
}

.footer li {
    padding-bottom: 20px;
}

/* dark mode */
.dark-theme{
    background-color: #21343D;
    color: white;
}

.dark-theme nav a,
.dark-theme .sign-in,
.dark-theme .footer a {
    color: white !important;
}

.dark-theme .half-round-top {
    background: linear-gradient(180deg, #21343D, #1b2930) !important;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    height: 7vh;
}

.dark-theme .half-round-btm {
    background: linear-gradient(180deg,  #1b2930, #21343D) !important;
    border-radius: 50% 50% 0 0/ 100% 100% 0 0;
    height: 7vh;
}

.dark-theme .card {
    color: black;
    background-color: white;
    border: none;
}

.dark-theme .price-card-1 {
    background-color: white;
    color: black;
}

.dark-theme .price-card-2 {
    background-color: #02897A;
}

.dark-theme .footer .icon {
    color: #02897A !important;
}

.dark-theme .navbar-toggler {
    background-color: white !important;
}

.dark-theme .change-theme {
    color: white !important;
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 10%;
    }

    .content-header,
    .content-btm,
    .content-2 {
        text-align: center;
    }
    .feature-1 {
        order: 1;
    }

    .feature-1 img,
    .feature-2 .img,
    .feature-3 .img{
        width: 90%;
        margin-bottom: 30px;
    }

    div .feature-desc {
        order: 2;
    }

    .feature-3 {
        order: 1;
    }
    .feature-3-desc {
        order: 2
    }

    .hero-card h1, p {
        text-align: center;
    }

    .hero-card .card {
        background-color: #F7F7F7;
        border: none;
        border-radius: 10px;
    }

    .price-card {
        margin-top: 10px;
        justify-content: center;
    }

    .review-card {
        margin: 20px auto;
    }

    .banner {
        padding: 30px;
    }
    .banner-btn {
        margin: auto;
    }
    .banner-desc {
        text-align: center;
    }
    
    .banner-img img{
        width: 300px;
    }

    .footer {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .footer-icon div {
        margin-bottom: 20px;
    }
    .footer-icon .icon {
        margin-left: 30px;
    }
    .footer-resource {
        margin-top: 30px;
    }
    .footer-form {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .content-header-btn {
        margin-bottom: 50px;
        text-align: center;
    }
    .content-btm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        text-align: center;
    }
    .content-btm-card {
        width: auto;
    }
    .feature-1,
    .feature-3 {
        order: 1;
        width: auto;
        margin-bottom: 50px;
    }
    .feature-desc,
    .feature-3-desc {
        order: 2;
        width: auto;
    }
    .feature-2-img {
        width: auto;
    }
    .feature-2-desc {
        width: auto;
        margin-top: 50px !important;
    }
    .hero-card .card{
        margin: auto;
        background-color: #F7F7F7;
        border: none;
    }
    .price-card {
        margin-top: 10px;
        justify-content: center;
    }
    .review-card {
        margin: 20px auto;
    }

    .banner {
        padding: 30px;
    }
    .banner-btn {
        margin: auto;
    }
    .banner-desc {
        text-align: center;
    }
    
    .banner-img img{
        width: 400px;
    }

    .footer {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .footer-icon div {
        margin-bottom: 20px;
    }
    .footer-icon .icon {
        margin-left: 30px;
    }
    .footer-resource {
        margin-top: 30px;
    }
    .footer-form {
        margin-top: 40px;
    }
}

@media screen and (max-width: 992px) {
    .feature-1 img,
    .feature-2 .img,
    .feature-3 .img {
        width: 400px;
    }
    .hero-card .card{
        margin: auto;
        background-color: #F7F7F7;
        border: none;
    }
    .price-card {
        margin-top: 10px;
        justify-content: center;
    }
    .banner {
        padding: 30px;
    }
    .banner-btn {
        margin: auto;
    }
    .banner-desc {
        text-align: center;
    }
    
    .banner-img img{
        margin: auto;
    }
    .banner-img {
        width: 100%;
    }

    .footer {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .footer-icon div {
        margin-bottom: 20px;
    }
    .footer-icon .icon {
        margin-left: 30px;
    }
    .footer-resource {
        margin-top: 30px;
    }
    .footer-form {
        margin-top: 40px;
    }

}